body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 48px;
    color: #38bdf8;
}

p {
    font-size: 20px;
    opacity: 0.8;
}
